* {
    padding: 0px;
    margin: 0px;
}
.header {
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    padding: 20px 50px 50px 50px;
}
.header .navbar{
    display: flex;
    gap: 100px;
    justify-content: space-between;
}
.header .navbar .logo{
    font-size: 24px;
    color: #F9FAF8;
}
.header .navbar .header_links a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 10px;
}
.header .navbar .header_links a:hover{
    color: yellowgreen;
}
.header .body {
    display:flex;
    padding: 50px 0px 0px 20px;

}
.header .body h1{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: extra-bold;
}
.header .body p{
    font-size: 18px;
    color: #E5E7EB;
}
.header .body button{
    background-color: #3882F6;
    border-radius: 9px;
    -webkit-border-radius: 9px;
    -moz-border-radius: 9px;
    -ms-border-radius: 9px;
    -o-border-radius: 9px;
    border-width: 0px;
    width: 110px;
    color: white;
    font-weight: bold;
    padding: 10px;
    font-size: 15px;
}
.header .body button:hover{
    color: #3882F6;
    background-color: white;
}
.information{
    background-color: white;
    padding: 30px 100px 0px 100px;
}
.information .title{
    text-align: center;
}
.illustrations{
    padding-top: 30px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex:1;
}
.illustrations img{
    width: 130px;
    height: 130px;
    border-radius: 20px;
    border-color: blue;
    border-width: 4px;
    border-style: outset;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.illustrations p{
    width: 130px;
    height: 100px;
}
.quote{
    background-color: #E5E7EB;
    padding: 50px 130px 50px 130px;
}
.quote .text{
    text-align: left;
    font-size: 32px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;

}
.quote .speaker{
    text-align: right;
    font-weight: bold;
}
.call{
    background-color: white;
    padding: 50px 100px 50px 100px;
}

.call .body{
    background-color: blue;
    display: flex;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    justify-content: space-evenly;
}
.call .body .text{
    padding: 40px 80px 40px 80px;
}
.call .body .text h6{
    color: white;
    font-size: large;
    justify-content: left;
}
.call .body .text p{
    color: gray;
}
.call .body .button button{
    margin-top: 50px;
    margin-right: 80px;
    padding: 5px;
    background-color: blue;
    width: 80px;
    height: auto;
    font-size: 15px;
    color: white;
    border-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.call .body .button button:hover{
    background-color: white;
    color: blue;
}
.footer{
    padding: 20px;
    background-color: #1f2937;
    color: white;
    text-align: center;
}